/* ===================================================
FOOTER REGION
=================================================== */

.r-footer {
	@include float;

	position: relative;
	background-color: $color-green;
	padding: $margin-base * 2 0;
}