/* ===================================================
REGION HEADER
=================================================== */

.r-header {
	@include float;

	position: relative;
	z-index: 10;

	.r-header-top {
		@include span-columns(12);
	}

	.r-header-bottom {
		@include span-columns(12);

		float: right;
	}
}