/* ===================================================
STAGE
=================================================== */

.r-stage {
	position: relative;
}

.r-stage-top {
	position: relative;
	margin-top: -$margin-base * 15;
	z-index: -1;
}

.r-stage-bottom {

	z-index: 1;

	@include media($bp-desktop-l) {
		bottom: 45%;
	}

	@include media($bp-mobile-p) {
		bottom: 82%;
	}

	.stage-bottom__headline {
		@include prefix('transform', translate(-50%, -100%));

		left: 50%;
		position: absolute;
		top: calc(50% - 122px);
		color: $color-white;
		font-weight: bold;
		font-size: 2.4rem;
		text-align: center;
		margin-bottom: 0;

		@include media($bp-tablet-p) {
			top: calc(50% - 92px);
		}

		@include media($bp-mobile-p) {
			top: calc(85% - 92px);
		}

		&::before {
			@extend %pseudo;
			@include centering(h);

			height: 100px;
			width: 100px;
			background-color: transparent;
			border: solid $color-green;
			border-width: 0;
			border-radius: 50%;
			top: 50px;

			@include media($bp-tablet-p) {
				height: 70px;
				width: 70px;
			}

			@include media($bp-mobile-l) {

			}

		}

		&.is-ani-border {
			&::before {
				@include prefix(animation, ani-border $transition-duration $transition-ease-method forwards);
			}
		}
	}
}