---
component: content text
---

<div class="c-content-text{{#if contentTextModifierClass}}--{{contentTextModifierClass}}{{/if}}{{#if contentTextClass}} {{contentTextClass}}{{/if}}" data-css="c-content-text">
	<h2 class="content-text__headline is-highlight-1">
		{{contentHeadline}}
	</h2>
	<p class="content-text__text">
		{{contentText}}
	</p>
</div>