---
block: partner logos
---

<div class="b-partner-logos">
	<div class="partner-logos__container">
		<img src="img/png/beliris.png" alt="Beliris Logo"/>
	</div>
	<div class="partner-logos__container">
		<img src="img/png/logo_stib.png" alt="Beliris Logo"/>
	</div>
	<div class="partner-logos__container">
		<img src="img/png/logo-bxl-mobility.png" alt="Beliris Logo"/>
	</div>
</div>