/* ===================================================
BASE
=================================================== */

/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 140%;
}

h2 {
	font-family: serif;
	font-size: 4rem;
	line-height: 1.1;
	text-transform: uppercase;
	margin-bottom: $margin-base * 4;

	&.is-highlight-1 {
		color: $color-highlight-1;
	}

	&.is-highlight-2 {
		color: $color-highlight-2;
	}
}

p {
	margin-bottom: $margin-base * 2;
}
