.is-container {
	@include outer-container;

	@include media($bp-tablet-p) {
		@include span-columns(12);

		float: none;
		margin-right: auto;
		padding: 0 $margin-base*2;

		&:last-child {
			margin-right: auto;
		}
	}
}

.is-hidden {
	display: none;
}