.is-bg-wave-white {
	background-color: $color-white;

	&::before {
		@extend %pseudo;

		background: url('../img/svg/bgs/bg-white.svg') no-repeat 0 0;
	}
}

.is-container {
	@include outer-container;

	@include media($bp-tablet-p) {
		@include span-columns(11);

		float: none;
		margin-right: auto;

		&:last-child {
			margin-right: auto;
		}
	}
}