@import "../../bower-components/neat/app/assets/stylesheets/neat-helpers";

/* ===================================================
BOURBON NEAT
=================================================== */
$column: 69px;
$gutter: 12px;
$grid-columns: 12;
$max-width: 960px;

// Define your breakpoints for Bourbon Neat
$bp-desktop-l: new-breakpoint(min-width 1440px 12);
$bp-tablet-p: new-breakpoint(max-width 768px 12);
$bp-mobile-l: new-breakpoint(max-width 640px 12);
$bp-mobile-p: new-breakpoint(max-width 480px 8);

$use-min-width: false;
// This variable will be used veams-scss

/* ---------------------------------------------------
 Global Units
 --------------------------------------------------- */
$margin-base: 10px;

/* ---------------------------------------------------
Colors
    - If possible use only 3 characters
	- Prefix your colors with $color
--------------------------------------------------- */
$color-white: #fff;
$color-dark: #1c1f00;
$color-green: #b3c907;
$color-blue: #0b4982;
$bg-highlight-2: #e1e6be;

//alias

$color-highlight-1: $color-green;
$color-highlight-2: $color-blue;


/* ---------------------------------------------------
Stage Margin Top Position
--------------------------------------------------- */
$stage-top: -$margin-base * 15;