/* ===================================================
CONTENT TEXT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */

[data-css="c-content-text"] {
	@include span-columns(5);

	float: none;
	margin: 0 auto;

	&:last-child {
		margin-right: auto;
	}
}