/* ===================================================
contact
=================================================== */

.b-contact {

	.contact__list-item {
		@include span-columns(4);

		@include media($bp-tablet-p) {
			@include span-columns(12);

			margin-right: 0;
		}
	}

	.contact__list-item {
		position: relative;

		&::before {
			@extend %pseudo;
			@include transform (scale(.08));

			transform-origin: 0 0;
			left: 0;
		}
		&.is-phone {
			&::before {
				@include sprites-phone();

				top: 10px;
			}
		}

		&.is-email {
			&::before {
				@include sprites-email;

				top: 10px;
			}
		}

		&.is-address {
			&::before {
				@include sprites-pin();

				top: -5px;

				@include media($bp-tablet-p) {
					left: -8px;
				}
			}
		}
	}

	.contact__list-element,
	.list-item__content {
		color: $color-white;
		font-weight: bold;
		margin-bottom: 0;
		padding-left: $margin-base * 4.5;
	}

	.contact__list-element {
		font-size: 1.8rem;
		line-height: 3;
		text-decoration: none;
	}

	.list-item__content {
		font-size: 1.4rem;
		line-height: 1.3;
	}
}