/* ===================================================
LOGO
=================================================== */

.b-logo {
	margin-left: $margin-base * 5.5;

	@include media($bp-tablet-p) {
		transform: scale(0.8);
		transform-origin: 0 0;

		margin-left: $margin-base;
	}

}